/******************************************************
 * Reset
 ******************************************************/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size : 120%;

  /* THEME VARS */
  --color-border: black;
  --color-primary: #2d471e;
  --fg-color: black;
  --bg-color: white;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

[data-bs-theme="dark"] {
  --color-border: #777777;
  --border-color: #dee2e6;
  --fg-color: white;
  --bg-color: #212529;
  --bg-color: #212529;
  --accent-color: #83e64a;
}

body {
  color: var(--fg-color);
  background-color: var(--bg-color);
}

button {
  border-radius: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border-style: none;
}

svg {
  fill: currentColor;
}

/*******************************************************
 * Utility Classes
 ******************************************************/
.d-inline {
  display: inline;
}


.d-none {
  display: none;
}

svg-icon-tweaks {
  vertical-align: -.125em;
  margin-inline-end: .25rem;
}

/*******************************************************
 * Header
 ******************************************************/
.hero-header {
  background-color: var(--color-primary);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline : 1rem;
}

.hero-header__title {
  font-size: 1.75rem;
}

/********************************************************
 * Theme Switcher
 ******************************************************/

.theme-switcher {
  align-items: center;
  cursor: pointer;
}

.theme-switcher__btn {
  anchor-name: --theme-switcher-anchor;
  display : inline-block;
  vertical-align: text-top;
  align-content: center;
  border-radius: .5rem;
  margin : 0.5rem 1rem;
  padding : 0 .5rem;
  height: 2rem;
  background-color: var(--bg-color);
  color : var(--fg-color);
  border-color : var(--color-border);
  border-width : 1px;
  border-style: solid;

  & span {
    margin-inline-start : 0.2rem;
  }

}

.theme-switcher__menu {
  position-anchor: --theme-switcher-anchor;
  margin: unset;
  inset: unset;
  top: anchor(bottom);
  right: anchor(right);
  
}

.theme-switcher__icon {
  vertical-align: middle;
  color : var(--fg-color);
  margin-inline-end: .25rem;
}
