d-none {
    display: none;
}

.hero-header {
    background-color: var(--color-primary);
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding-inline: 5vw
}

.hero-header__title {
    font-size: 1.75rem;
    text-align: center;
    margin: 0;
}


.theme-switcher {
    margin-left: auto;
    margin-right: .5rem;
    justify-self: end;
    cursor: pointer;
}

.theme-switcher__btn {
    anchor-name: --theme-switcher-anchor;
    display: inline-block;
    vertical-align: text-top;
    align-content: center;
    border-radius: var(--border-radius);
    /* margin : 0.5rem 1rem; */
    padding: 0 .5rem;
    height: 2rem;
    background-color: var(--bg-color);
    color: var(--fg-color);
    border-color: var(--border-color);
    border-width: 1px;
    border-style: solid;

    span {
        margin-inline-start: 0.5rem;

        @media screen and (max-width: 600px) {
            display: none;
        }
    }

    &:hover,
    &:focus-visible {
        --bg-hover-color: oklab(from var(--color-primary) calc(l + .4) a b);
        background-color: var(--bg-hover-color);
        color: contrast(var(--bg-hover-color));
    }

}

.theme-switcher__menu {
    position-anchor: --theme-switcher-anchor;
    margin: unset;
    inset: unset;
    top: anchor(bottom);
    right: anchor(right);
    padding: 0;
    background-color: var(--bg-color);
    color: var(--fg-color);
    border-radius: var(--border-radius);
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-border);

    li {
        margin: 0;
        list-style: none;
        &:hover,
        &:focus-visible {
            --bg-hover-color: oklab(from var(--color-primary) calc(l + .4) a b);
            background-color: var(--bg-hover-color);
            color: contrast(var(--bg-hover-color));
        }
    }

    button {
        background-color: inherit;
        color: inherit;
        border-style: none;


    }

}

.theme-switcher__menu-item-label {
    margin-inline-start: .5rem;
}

.theme-switcher__icon {
    vertical-align: middle;
    color: var(--fg-color);
    margin-inline-end: .25rem;
}
