:root {
    /* THEME VARS */
    --border-color : black;
    --color-primary: #2d471e;
    --fg-color : black;
    --bg-color : white;

    --brand-color :#2d471e;
    --accent-color : var(--brand-color);

    --border-radius : .5rem;

    --font-size-h1 : calc(1.375rem + 1.5vw);
    --font-size-h2 : calc(1.325rem + .9vw);
    --font-size-h3 : calc(1.3rem + .6vw);

}

[data-theme="dark"] {
    --border-color : #dee2e6;
    --fg-color : white;
    --bg-color : #212529;
    --accent-color : #83e64a;
}


body {
    background-color : var(--bg-color);
    color : var(--fg-color);

    --border-std : 1px solid var(--border-color);
}

input, select, button, optgroup, textarea {
    height : 2rem;
    border-radius: .5rem;
    border: var(--border-std);
    margin : 0 .25rem;
    color : var(--fg-color);
    background-color : var(--bg-color);
    accent-color: var(--accent-color);
    background-color: var(--bg-color);
    color: var(--fg-color);
}
