@layer reboot {

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    :root {
        line-height: 1.5;
        font-weight: 400;
        font-size: 120%;
    }

    body {
        margin: 0;
        font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    button {
        border-radius: 0;
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        border-style: none;
    }

    /* END LAYER reboot */
}
